---
layout: default
---
<header class="index-header">
  <div class="aspect-ratio-box-header">
    <div class="index-header__background">
      <div class="index-header__flex-wrapper">
        <div class="index-header__flex-cell">
          Improving the way Developers and Planners Assess Parking Demand
        </div>
      </div>
    </div>
  </div>
</header>
<section class="explainer">
  <div class="explainer__left">
    <h2 class="explainer__heading">We Researched Residential Parking Across Metro Boston</h2>
    <h3 class="explainer__sub-heading">Here is what we found</h3>
    <ul class="explainer_unordered-list">
      <li class="explainer__list-item">Parking was overbuilt: 30% was <b>unutilized</b></li>
      <li class="explainer__list-item">Our statistical analysis found key factors that drive demand</li>
      <li class="explainer__list-item">We identified key policies that can make a difference</li>
    </ul>
    <p>Explore the slides below or read the executive summary to learn more. Then dig deeper and use the map to explore the data collected.</p>
    <div class="explainer__right-align">
      <a class="explainer__button">Executive Summary</a>
    </div>
  </div>
  <div class="explainer__right">
    <h2 class="explainer__heading">Getting Parking Right Matters</h2>
    <img class="explainer__image" src="/assets/images/explainer-before.png">
    <img class="explainer__image" src="/assets/images/explainer-after.png">
    <p>Not having the right amount of parking comes at a cost.  Finding the perfect fit can enable change.</p>
  </div>
</section>
{% include slideshow.html %}
<section class="explore-the-data">
  <h2 class="explore-the-data__header">Adjust the Slider to Explore the Data</h2>
  <svg class="slider" width="100%" height="150"></svg>
  <div class="parking-data">
    <svg class="parking-map" viewBox="0 0 900 700"></svg>
    <div class="aspect-ratio-box">
      <div class="aspect-ratio-box-inside">
        <table class="parking-table">
        </table>
      </div>
    </div>
    <div class="toggle">
      <button type="button" class="toggle__transit" data-toggle="button">
        Show Public Transit
      </button>
      <button type="button" class="toggle__jobs" data-toggle="button">
        Show Jobs Heatmap
      </button>
    </div>
  </div>
</section>
<section class="action-boxes">
  <div class="action-box">
    <h2 class="action-box__title">Full Report</h2>
    <p class="action-box__text">Find the full report with technical appendix here.</p>
    <div class="action-box__right-align">
      <a class="action-box__button">
        Read Report
      </a>
    </div>
  </div>
  <div class="action-box">
    <h2 class="action-box__title">Learn More</h2>
    <p class="action-box__text">Find planned and proposed development projects on massbuilds.com. Use the TDM action steps to get involved. </p>
    <div class="action-box__right-align">
      <a class="action-box__button">
        Learn More
      </a>
    </div>
  </div>
  <div class="action-box">
    <h2 class="action-box__title">Download the Data</h2>
    <p class="action-box__text">Data from this report is available.  Visit datacommon.mapc.org to download the full dataset.</p>
    <div class="action-box__right-align">
      <a class="action-box__button">
        Download Data
      </a>
    </div>
  </div>
  <div class="action-box">
    <h2 class="action-box__title">Feedback</h2>
    <p class="action-box__text">If you want have questions of comments, don’t hesitate to reach out!</p>
    <div class="action-box__right-align">
      <a class="action-box__button">
        Contact Us
      </a>
    </div>
  </div>
</section>
{% include footer.html %}
