---
layout: default
---
<header class="index-header">
  <div class="aspect-ratio-box-header">
    <div class="index-header__background">
      <div class="index-header__flex-wrapper">
        <div class="index-header__flex-cell">
          Improving the way Developers and Planners Assess Parking Demand
        </div>
      </div>
    </div>
  </div>
</header>
<section class="explainer">
  <h2 class="index-header__heading">Using Data To Help Communities Established Informed, Sustainable, and Economical Parking Policies</h2>
  <p>Parking is a point of contention in communities across Metro Boston, yet many deliberations about the topic occur in the absence of hard data about how much parking we have, and how much we need. The Metropolitan Area Planning Council (MAPC) has begun a multi-phase initiative to develop the data and tools that communities need to establish informed, sustainable, and economical parking policies.</p>
  <img src="/assets/images/parking-model.png">
</section>
{% include slideshow.html %}
<section class="explore-the-data">
  <h2 class="explore-the-data--header">Explore the Data</h2>
  <svg class="slider" width="100%" height="150"></svg>
  <div class="parking-data">
    <svg class="parking-map" viewBox="0 0 900 700"></svg>
    <div class="aspect-ratio-box">
      <div class="aspect-ratio-box-inside">
        <table class="parking-table">
        </table>
      </div>
    </div>
    <div class="toggle">
      <button type="button" class="toggle__transit" data-toggle="button">
        Show Public Transit
      </button>
      <button type="button" class="toggle__jobs" data-toggle="button">
        Show Jobs Heatmap
      </button>
    </div>
  </div>
</section>
<section class="action-boxes">
  <div class="action-box">
    <h2 class="action-box__title">Call to Action</h2>
    <p class="action-box__text">If you want to make a difference find a project and get involved. You can find planned and proposed development projects on massbuilds.com.</p>
    <a class="action-box__button">
      Learn More
    </a>
  </div>
  <div class="action-box">
    <h2 class="action-box__title">Download the Data</h2>
    <p class="action-box__text">Data from this report is open and available.  visit datacommon.mapc.org to download the full dataset. </p>
    <a class="action-box__button">
      Download
    </a>
  </div>
</section>
{% include footer.html %}
