<footer class="footer">
  <div class="footer__row">
    <div class="footer__column">
      <h2 class="footer__header">About MAPC</h2>
      <p>The Metropolitan Area Planning Council (MAPC) is the regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston.</p>
    </div>
    <div class="footer__column">
      <h2 class="footer__header">Links</h2>
      <ul class="footer__unordered-list">
        <li class="footer__list-item"><a class="footer__link" href="./assets/documents/Perfect%20Fit%20Executive%20Summary.pdf">Executive Summary</a></li>
        <li class="footer__list-item"><a class="footer__link" href="/">Full Report</a></li>
        <li class="footer__list-item"><a class="footer__link" href="/">Phase 1 Report</a></li>
        <li class="footer__list-item"><a class="footer__link" href="/">Slides</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h2 class="footer__header">Contact Us</h2>
      <address>
        60 Temple Pl.<br>
        Boston MA 02111<br>
        <a class="footer__link" href="tel:6179330700">617-933-0700</a>
      </address>
      <a class="footer__link" href="/">perfectfitparking.mapc.org</a>
    </div>
  </div>
  <div class="footer__row">
    <div class="footer__column">
      <a class="footer__link" href="https://www.mapc.org/">
        <img class="footer__logo" src="assets/images/mapc-logo.svg">
      </a>
    </div>
    <div class="footer__column footer__column--social">
      <a class="footer__link" aria-label="MAPC Twitter Page" href="https://twitter.com/mapcmetroboston"><span class="fab fa-twitter"></a>
      <a class="footer__link" aria-label="MAPC Instagram Page" href="https://www.instagram.com/mapcmetroboston"><span class="fab fa-instagram"></a>
      <a class="footer__link" aria-label="MAPC Facebook Page" href="https://www.facebook.com/mapcmetroboston"><span class="fab fa-facebook"></a>
      <a class="footer__link" aria-label="MAPC LinkedIn Page" href="https://www.linkedin.com/company/metropolitan-area-planning-council/"><span class="fab fa-linkedin-in"></a>
    </div>
  </div>
</footer>
