<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5547782-28"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-5547782-28');
  </script>
  <script src="https://kit.fontawesome.com/d5a6ae5d22.js"></script>
  <script src="/assets/javascripts/d3.min.js"></script>
  <script src="/assets/javascripts/topojson.min.js"></script>
  <script src="/assets/javascripts/parking_site_map.js"></script>
  <script src="/assets/javascripts/to-title-case.js"></script>
  <script defer src="/assets/javascripts/slconfig.js"></script>
  <script defer src="/assets/javascripts/slides-1.js"></script>
  <script defer src="/assets/javascripts/slides-2.js"></script>
  <script defer src="/assets/javascripts/slides-3.js"></script>
  <script defer src="/assets/javascripts/slides-4.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <title>{{ site.title }}</title>
</head>
