.index-header {
  height: 100%;
  margin: 0 auto;

  &__background {
    @include media('small') {
      background-image: url('/assets/images/header-mobile.png');
    }

    background-image: url('/assets/images/header.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__heading {
    margin: 2rem 0;
  }

  &__texture {
    background-image: url('/assets/images/header-texture.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.reveal {
  height: 100%;
}

.parking-table {
  border-collapse: collapse;
  width: 100%;

  &--header {
    background: $table_header-background;
    color: $table_header-text;
  }

  &--header-cell {
    padding: 1rem;
  }

  &--data-row:nth-of-type(odd) {
    background: $table_data-background_stripe;
  }

  &--data-cell {
    padding: 1rem;
  }
}
