.index-header {
  height: 100%;
  margin: 0 auto;

  &__background {
    @include media('small') {
      background-image: url('/assets/images/header-mobile.png');
    }

    background-image: url('/assets/images/header.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__heading {
    margin: 2rem 0;
  }

  &__texture {
    background-image: url('/assets/images/header-texture.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.reveal {
  height: 100%;
}

.parking-table {
  display: block;
  margin: 4rem;

  &--header {
    border-bottom: 1px solid;
    display: block;
    margin-bottom: .5rem;
  }

  &--header-cell {
    &:nth-child(1) {
      width: 15.2265625rem;
    }

    &:nth-child(2) {
      width: 8.2265625rem;
    }

    &:nth-child(3) {
      text-align: right;
      width: 9.2265625rem;
    }

    &:nth-child(4) {
      text-align: right;
      width: 11.2265625rem;
    }

    &:nth-child(5) {
      text-align: right;
      width: 8.2265625rem;
    }

    &:nth-child(6) {
      text-align: right;
      width: 9.2265625rem;
    }

    &:nth-child(7) {
      text-align: right;
      width: 6.2265625rem;
    }

    &:nth-child(8) {
      text-align: right;
      width: 6.2265625rem;
    }
  }

  &--data-cell {
    padding: .5rem 0;
    word-break: break-word;

    &:nth-child(1) {
      width: 15.2265625rem;
    }

    &:nth-child(2) {
      width: 8.2265625rem;
    }

    &:nth-child(3) {
      text-align: right;
      width: 9.2265625rem;
    }

    &:nth-child(4) {
      text-align: right;
      width: 11.2265625rem;
    }

    &:nth-child(5) {
      text-align: right;
      width: 8.2265625rem;
    }

    &:nth-child(6) {
      text-align: right;
      width: 9.2265625rem;
    }

    &:nth-child(7) {
      text-align: right;
      width: 6.2265625rem;
    }

    &:nth-child(8) {
      text-align: right;
      width: 6.2265625rem;
    }
  }

  &--body {
    display: block;
    height: 40rem;
    overflow: scroll;
  }
}

.explainer {
  margin: 4rem;
}

.explore-the-data {
  &--header {
    margin: 4rem 0 2rem 4rem;
  }
}
