.aspect-ratio-box {
  height: 0;
  overflow: scroll;
  padding-top: 100%;
  position: relative;
}

.aspect-ratio-box-header {
  height: 0;
  overflow: scroll;
  padding-top: calc(905 / 1920 * 100%);
  position: relative;
}

.aspect-ratio-box-inside {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.index-header {
  &__background {
    @include media('small') {
      background-image: url('/assets/images/header-mobile.png');
    }

    background-image: url('/assets/images/header.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__heading {
    margin: 2rem 0;
  }
}

.reveal {
  height: 100%;
}

.parking-table {
  display: grid;
  grid-template-columns:
  minmax(10rem, 2fr)
  1fr
  .8fr
  1fr
  .8fr
  1fr
  .6fr
  .6fr;

  &__header {
    display: contents;
  }

  &__header-row {
    display: contents;
    margin-bottom: .5rem;
  }

  &__header-cell {
    border-bottom: 1px solid;
  }

  &__data-row {
    display: contents;

    &--selected {
      display: contents;
      font-weight: bold;
    }
  }

  &__data-cell {
    padding: .5rem 0;
    word-break: break-word;
  }

  &__body {
    display: contents;
  }
}

.parking-data {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
}

.explainer {
  margin: 4rem;
}

.explore-the-data {
  &--header {
    margin: 4rem 0 2rem 4rem;
  }
}
