$font_size-base: 16px;
$font_size-xsmall: .75rem;    // 12px
$font_size-small: 1rem;       // 16px
$font_size-medium: 1.125rem;  // 18px
$font_size-large: 1.5rem;     // 24px
$font_size-xlarge: 2.25rem; // 36px

$break_xsmall: 500px;
$break_small: 980px;
$break_medium: 1024px;
$break_large: 1440px;
$break_xlarge: 1920px;

$border_dark: #000;
$footer-background-color: #5b5cf6;
$footer-color: #fff;
$body_font: #707070;
