.action-box {
  border-radius: .8rem;
  box-shadow: 0 3px 20px rgba(13, 14, 242, .16);
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  margin-bottom: 3rem;
  padding: 3.5rem 2rem 1rem 2rem;

  &__title {
    @include media(large) {
      font-size: 1.5rem;
    }

    color: #000000;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
  }

  &__right-align {
    align-self: end;
    text-align: right;
    width: 100%;
  }

  &__button {
    background-color: #9D0DFF;
    border-radius: 50rem;
    color: white;
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
  }

  &__text {
    @include media(large) {
      font-size: 1rem;
    }

    color: #707070;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2em;
    width: 100%;
  }
}
