.parking-map {
  width: 100%;

  &__train-lines {
    &--hidden {
      visibility: hidden;
    }
  }

  &__rapid-transit-lines {
    &--hidden {
      visibility: hidden;
    }
  }
}

.site {
  fill-opacity: .2;
  stroke: blue;
  transition: 'fill-opacity 250ms linear';
  &--selected {
    fill: blue;
    fill-opacity: 1;
    stroke: blue;
    transition: initial;
  }
}

.toggle {
  position: relative;
  &__transit {
    @include media('small') {
      position: relative;
      top: initial;
    }
    border: thin solid;
    border-radius: .8rem;
    padding: 1rem;
    position: absolute;
    top: -3rem;
  }
}
