---
layout: default
---

<section id="banner">
  <div class="inner">
    <h2>{{site.title}}</h2>
    <p>{{site.tagline}}<br /></p>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>

<section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                {{site.description | markdownify}}
              </header>
              <ul class="icons major">
                <li><span class="icon fa-car major style1"><span class="label">Lorem</span></span></li>
                <li><span class="icon fa-info-circle major style2"><span class="label">Ipsum</span></span></li>
                <li><span class="icon fa-users major style3"><span class="label">Dolor</span></span></li>
              </ul>
            </div>
          </section>

<section id="two" class="wrapper alt style2">
  {% assign sorted_strips = site.strips | sort: 'position' %}
  {% for strip in sorted_strips %}
    {% include strip.html content=strip.content title=strip.title id=strip.title image=strip.image %} 
  {% endfor %}
</section>